---
---
@font-face
    font-family: "DM"
    src: url("DMSerifDisplay.ttf") format("truetype")

*
    margin: 0
    padding: 0
    color: #222
    font-family: sans-serif

h1, h2, h3
    line-height: 100%

header
    svg
        display: block
        height: 100%
        margin: 0 auto
        width: min(90%, 40em)
    &#big svg
        width: min(90%, 60em)

div#articles
    display: flex
    width: 80%
    margin: 40px auto

    h3
        margin-bottom: 8px
    > div
        display: flex
        flex-direction: column
    a
        color: inherit
        text-decoration: none
        margin: 8px 8px 0 8px
        padding-bottom: 8px
        border-bottom: 1px solid #888
        
        &:hover h3
            color: #444
    img
        float: right
        width: 50%

div#articles-major
    width: 67%
    border-right: 1px solid #888

    h3
        font-size: min(60px, 10vw)
    p
        font-size: 20px

div#articles-minor
    width: 33%

    h3
        font-size: 30px
    p
        font-size: 18px

table
    margin: 20px auto
    font-size: 20px

    a
        display: block
        width: 100%
        text-decoration: none
        &:hover
            color: #444

h2
    text-align: center
    font-size: 60px
    margin-top: 50px

td
    padding: 4px

article
    width: min(95vw, 45em)
    margin: 0 auto

    p
        font-size: 20px
        text-align: justify
        padding: 10px 5%

nav
    display: flex
    justify-content: center

    > a
        text-align: center
        padding: 20px
        display: block
        text-decoration: none
        font-size: 16px
        text-transform: uppercase
        font-weight: bold
        &:hover
            color: #96031A
