{%- include header.html -%}
<header><a href="/">{%- include logo.svg -%}</a></header>
<article>
    <h1>{{- page.title -}}</h1>
    {%- if page.author -%}
        <p class="author">
        {{- page.author -}}
        {%- if page.author_role %}
            | <span>{{- page.author_role -}}</span>
        {%- endif -%}
        </p>
    {%- endif -%}
    <hr>
    {%- if page.date -%}
        <p class="date">{{- page.date | date: '%B %d, %Y' -}}</p>
    {%- endif -%}
    {%- if page.image -%}
        <img src="/images/{{- page.image -}}">
    {%- endif -%}
    {{- content -}}
</article>
{%- include footer.html -%}
